p {
    color: white;
}
h1, h2 {
    color:white !important;
}

#rangers {
  color: white;
  width: 50%;
  font-size: 36px;
}
#flyers {
  width: 50%;
  font-size: 36px;
}
#container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.row {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#flyers-animate{
  background-color: #ea7317;
  height: 100%;
  width: 60%;
  text-align: center;
  padding-top: 14%;
  border-left: 4px solid white;
  font-size: 60px;
  transition: width 2.5s, font-size 2.5s;
}
#rangers-animate{
  background-color: #2364aa;
  width: 40%;
  height: 100%;
  text-align: center;
  padding-top: 14%;
  border-right: 4px solid white;
  font-size: 24px;
  transition: width 2.5s, font-size 2.5s;
}
#flyers-subtext {
  color: black;
  font-weight: bold;
}
#rangers-subtext {
  color: black;
  font-weight: bold;
}