p {
    color: white;
    margin: 0;
}
h1, h2 {
    color:white !important;
}

#container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.row {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#flyers-animate{
  background-color: #ea7317;
  height: 100%;
  width: 50%;
  text-align: center;
  padding-top: 14%;
  border-left: 4px solid white;
  font-size: 36px;
  transition: width 2.5s, font-size 2.5s;
}
#rangers-animate{
  background-color: #2364aa;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-top: 14%;
  border-right: 4px solid white;
  font-size: 36px;
  transition: width 2.5s, font-size 2.5s;;
}
#flyers-subtext {
  color: black;
  font-weight: bold;
}
#rangers-subtext {
  color: black;
  font-weight: bold;
}
#innerFlyersSpan1 {
  line-height: 76px;
  display: inline-block;
  border: 1px solid black;
  width: 0px;
  transition: width 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
#innerFlyersSpan2 {
  line-height: 76px;
  display: inline-block;
  border: 1px solid black;
  width: 0px;
  transition: width 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
#innerRangersSpan1 {
  line-height: 76px;
  display: inline-block;
  border: 1px solid white;
  width: 0px;
  transition: width 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
#innerRangersSpan2 {
  line-height: 76px;
  display: inline-block;
  border: 1px solid white;
  width: 0px;
  transition: width 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}

